.features {
  padding-top: 157px;
  margin-bottom: 186px;
} 

.icon-eye {
  @include wh(39px, 39px);
  border-radius: 50%;
  background: #fff;
  color: $blue;
  text-align: center;
  line-height: 46px;
  font-size: 25px;
  transition: .2s all;

  &:hover {
    cursor: pointer;
    background: $blue;
    color: #fff;
    border: 1px solid #fff;
  }
}

.product {
  display: flex;
  justify-content: space-between;

  &__item {
    position: relative;

    .eye1 {
      position: absolute;
      top: 121px;
      left: 203px;
    }

    .eye2 {
      position: absolute;
      top: 269px;
      left: 256px;
    }

    .eye3 {
      position: absolute;
      top: 458px;
      left: 471px;
    }
  }

  &__card {
    width: 100%;
    height: min-content;
    background: $light-blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;

    &-wrapper {
      width: 34%;
      height: min-content;
    }

    &-img {
      padding-left: 100px;
    }

    &-description {
      width: 43%;
      text-align: center;
    }

    &-title {
      font-family: $ffp-black;
      @include fwfslhls(900, 16px, 19px, 0.05em); 
      color: $blue;
      text-transform: uppercase;
      padding-bottom: 35px;
    }

    &-text {
      font-family: $ffa;
      @include fwfslh(500, 16px, 22px); 
      color: $black;
      padding-bottom: 35px;
    } 

    &-text + &-text:last-child {
      padding-bottom: 0px;
    }
  }
}

.text-italic {
  font-style: italic;
}