.header {
  height: 100vh;
  background-image: url('../img/top-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__inner {
    border-bottom: 1px solid #FFFFFF;
  }

  &__header-wrapper {
    @include wh(100%, 130px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
} 

.navigation {
  &__list {
    display: flex;
    justify-content: space-between;

    &-item {
      margin-right: 45px;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      transition: .3s all;
      &:hover {
        border-bottom: 2px solid #fff;
        transition: .3s all;
      }
    }

    &-item + &-item:last-child {
      padding-right: 0;
    }
  }

  &__btn {
    display: none;
  }

  &__link {
    font-family: $ffa;
    @include fwfslh(500, 18px, 25px); 
    text-transform: uppercase;
    color:#fff;
  }
} 

.social {
  display: flex;

  &__link {
    color: #fff;
  }

  &__item {
    padding-right: 30px;
  }

  &__link + &__link:last-child {
    padding-right: 0;
  }

  &__img {
    &:hover {
      color: $blue;
      transition: all .3s;
    }
  }
}   

.top-wrapper {
  @include df-center;
  -webkit-box-flex: 1;
  box-sizing: border-box;
  flex: 1;
}

.top-content {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 46%;

  &__date-wrapper {
    display: flex;
  }

  &__date {
    font-family: $ffp-black;
    @include fwfslh(900, 30px, 36px);
    // @include adaptive-font(900, 30, 23, 36, 29, 1440);
    color: #fff;
    padding-right: 7px;
  } 

  &__title {
    font-family: $ffp-black;
    @include fwfslh(900, 90px, 108px);
    // @include adaptive-font(900, 90, 42, 108, 60, 1440);
    color: #fff; 
  }

  &__text {
    font-family: $ffa; 
    @include fwfslh(500, 18px, 25px);
    // @include adaptive-font(500, 18, 16, 25, 22, 1440);
    color: #fff;
    margin-top: 35px;
  }
} 

.benefits {
  margin-top: 110px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  &-item {
    width: 12%;

    &__number {
      font-family: $ffp-black;
      @include fwfslh(900, 30px, 36px);
      color: #fff;
      padding-bottom: 10px;
    }

    &__text {
      font-family: $ffa;
      @include fwfslh(500, 18px, 25px);
      color: #fff;
    }
  }
}

.small-num {
  font-family: $ffp-bold;
  @include fwfslh(500, 14px, 22px);
  padding-left: 7;
} 

.top-form {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}