.technologie-horse {
  padding-top: 150px;
}

.horse {
  max-width: 1920px;
  min-height: 1141px;
  background-image: url('../img/horse.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-dots {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 1141px;

    &__circle {
      @include wh(48px, 48px);
      background-color: $blue;
      color: #fff;
      border-radius: 50%;

      font-family: $ffp-black;
      @include fwfslhls(900, 30px, 37px, 0.02em);
      text-align: center;
      opacity: 1;

      &-wrapper {
        @include df-center;
        border-radius: 50%;
        @include wh(64px, 64px);
        transition: .5s all;
      }
    }

    &__text {
      color: $blue;
      font-family: $ffp-black;
      @include fwfslh(900, 16px, 19px);
      width: 8.5rem;

      &--1 {
        @include pos-tr(99px, 78px);
      }
    }

    &__content {
      opacity: 0;
      transition: .5s all;
    }

    &__container {
      &:hover {
        cursor: pointer;
        .horse-dots__content{
          opacity: 1;
          transition: .5s all;
        }
        .horse-dots__circle-wrapper {
          background-color: rgba(255, 255, 255, 0.18);
          transition: .5s all;
        }
      }
    }
  }
}

.text-line {
  font-family: $ffp-black;
  font-size: 16px;
  color: $blue;

  &--1 {
    transform: rotateZ(143deg);
    position: absolute;
    top: 72px;
    right: 23px;
  }
}

.dot--1 {
  @include pos-tl(245px, 245px);
}
.dot--2 {
  @include pos-tl(378px, 353px);
}
.dot--3 {
  @include pos-tl(263px, 606px);
}
.dot--4 {
  @include pos-tr(257px, 336px);
}
.dot--5 {
  @include pos-tr(500px, 255px);
}
.dot--6 {
  @include pos-br(313px, 200px);
}
.dot--7 {
  @include pos-br(259px, -55px);
}
.dot--8 {
  @include pos-bl(346px, 265px);
}
.dot--9 {
  @include pos-bl(328px, 419px);
}
