.technologie {
  padding-top: 250px;

  &__title {
    padding-bottom: 40px;
  }

  &__titles {
    width: 50%;
  }

  &__subtitle {
    padding-bottom: 40px;
  }

  &__info {
    // width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-family: $ffa; 
      @include fwfslh(500, 18px, 25px);
    }
  }

  &__img {
    height: 450px;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 27%;
    display: flex;

    &-dash {
      @include fwfslh(bold, 20px, 19px);
      color: $blue;
      padding-right: 20px;
    }
  }
}
.text--mob {
  display: none;
}