.technologie-horse {
  padding-top: 150px;
}

.horse-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.horse {
  max-width: 1920px;
  min-height: 1141px;
  background-image: url('../img/horse.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-dots {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 1141px;

    &__circle {
      @include wh(48px, 48px);
      background-color: $blue;
      color: #fff;
      border-radius: 50%;

      font-family: $ffp-black;
      @include fwfslhls(900, 30px, 37px, 0.02em);
      text-align: center;
      opacity: 1;

      &-wrapper {
        @include df-center;
        border-radius: 50%;
        @include wh(64px, 64px);
        transition: .5s all;
      }
    }

    &__text {
      color: $blue;
      font-family: $ffp-black;
      @include fwfslh(900, 16px, 19px);
      width: 8.5rem;

      &--1 {
        @include pos-tr(99px, 78px);

      }

      &--2 {
        @include pos-tr(103px, 136px);
      }
    
      &--3 {
        @include pos-tl(-150px, -94px);
      }
    
      &--4 {
        @include pos-tl(-144px, 58px);
      }
    
      &--5 {
        @include pos-tr(126px, 63px);
      }
    
      &--6 {
        @include pos-tr(0px, 159px);
      }
    
      &--7 {
        @include pos-tr(97px, 87px);
      }
    
      &--8 {
        @include pos-br(61px, 138px);
      }
    
      &--9 {
        @include pos-tl(-146px, 38px);
      }
    }

    &__content {
      opacity: 0;
      transition: .5s all;
    }

    &__container {
      &:hover {
        cursor: pointer;
        .horse-dots__content{
          opacity: 1;
          transition: .5s all;
        }
        .horse-dots__circle-wrapper {
          background-color: rgba(255, 255, 255, 0.18);
          transition: .5s all;
        }
      }
    }
  }
}

.text-line {
  font-family: $ffp-black;
  font-size: 16px;
  color: $blue;

  &--1 {
    @include pos-line-tr(143deg, 72px, 23px);
  }

  &--2 {
    @include pos-line-tr(-27deg, 67px, 43px);
  }

  &--3 {
    @include pos-line-tr(61deg, -51px, 2px);
  }

  &--4 {
    @include pos-line-bl(122deg, 90px, 18px);
  }

  &--5 {
    @include pos-line-tr(-50deg, 83px, 29px);
  }

  &--6 {
    @include pos-line-tr(0deg, 21px, 54px);
  }

  &--7 {
    @include pos-line-tr(-35deg, 64px, 43px);
  }

  &--8 {
    @include pos-line-tr(17deg, 0px, 52px);
  }

  &--9 {
    @include pos-line-tl(-70deg, -43px, 6px);
  }
}

.dot--1 {
  @include pos-tl(245px, 245px);
}
.dot--2 {
  @include pos-tl(378px, 353px);
}
.dot--3 {
  @include pos-tl(265px, 606px);
}
.dot--4 {
  @include pos-tr(249px, 324px);
}
.dot--5 {
  @include pos-tr(492px, 255px);
}
.dot--6 {
  @include pos-br(310px, 191px);
}
.dot--7 {
  @include pos-br(255px, -58px);
}
.dot--8 {
  @include pos-bl(358px, 262px);
}
.dot--9 {
  @include pos-bl(325px, 404px);
}
